# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
.sass-cache
_site

# RubyGems
*.gem
vendor/bundle
vendor/cache

# NPM dependencies
node_modules
package-lock.json
npm-debug.log*

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist
